## Cleaning

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [3]:
df_real = pd.read_csv('Data/real_instances.csv')
df_sim = pd.read_csv('Data/simulated_instances.csv')
df_drawn = pd.read_csv('Data/hand_drawn_instances.csv')

#combine all dataframes
df = pd.concat([df_real, df_sim, df_drawn])

FileNotFoundError: [Errno 2] No such file or directory: 'Data/real_instances.csv'

In [3]:
# print percentage of null values in the cleaned dataframe for each column 
print('Percentage of null values in the cleaned dataframe')
print(df.isnull().sum()/len(df)*100)

Percentage of null values in the cleaned dataframe
timestamp          0.000000
label              0.000000
well               0.000000
id                 0.000000
ABER-CKGL         88.912638
ABER-CKP          83.905354
ESTADO-DHSV       81.895962
ESTADO-M1         76.793540
ESTADO-M2         76.904424
ESTADO-PXO        76.267346
ESTADO-SDV-GL     77.665661
ESTADO-SDV-P      68.250478
ESTADO-W1         75.272622
ESTADO-W2         76.114241
ESTADO-XO         75.793995
P-ANULAR          66.756226
P-JUS-BS         100.000000
P-JUS-CKGL        58.353113
P-JUS-CKP         71.123209
P-MON-CKGL        99.596897
P-MON-CKP          9.244156
P-MON-SDV-P      100.000000
P-PDG             10.336197
PT-P             100.000000
P-TPT              7.026990
QBS              100.000000
QGL               67.924246
T-JUS-CKP         20.934145
T-MON-CKP         69.162512
T-PDG             72.826739
T-TPT             13.399137
class              5.259879
state              5.259879
dtype: float64

In [4]:
# rename the ids for simulated and handdrawn ids to avoid repetition
df['id'] = np.where(
    df['well'] == 'SIMULATED',
    'SIMULATED - ' + df['id'].astype(str) + " - " + df['label'].astype(str),
    np.where(
        df['well'] == 'DRAWN',
        'DRAWN - ' + df['id'].astype(str) + " - " + df['label'].astype(str),
        df['id']
    )
)

df.head()

,timestamp,label,well,id,ABER-CKGL,ABER-CKP,ESTADO-DHSV,ESTADO-M1,ESTADO-M2,ESTADO-PXO,...,PT-P,P-TPT,QBS,QGL,T-JUS-CKP,T-MON-CKP,T-PDG,T-TPT,class,state
0,2014-12-17 14:27:45,9,WELL-00042,20141217142745,23.0,38.0,NaN,1.0,1.0,0.0,...,NaN,10180070.0,NaN,3.032789,40.20570,NaN,74.58371,58.95389,NaN,NaN
1,2014-12-17 14:27:46,9,WELL-00042,20141217142745,23.0,38.0,NaN,1.0,1.0,0.0,...,NaN,10180060.0,NaN,3.033681,40.20566,NaN,74.58370,58.95395,NaN,NaN
2,2014-12-17 14:27:47,9,WELL-00042,20141217142745,23.0,38.0,NaN,1.0,1.0,0.0,...,NaN,10180050.0,NaN,3.034572,40.20562,NaN,74.58369,58.95401,NaN,NaN
3,2014-12-17 14:27:48,9,WELL-00042,20141217142745,23.0,38.0,NaN,1.0,1.0,0.0,...,NaN,10180040.0,NaN,3.035463,40.20559,NaN,74.58368,58.95407,NaN,NaN
4,2014-12-17 14:27:49,9,WELL-00042,20141217142745,23.0,38.0,NaN,1.0,1.0,0.0,...,NaN,10180040.0,NaN,3.036354,40.20555,NaN,74.58368,58.95413,NaN,NaN

In [5]:
# Sort the entire DataFrame by 'id' and 'timestamp' first
df = df.sort_values(['id', 'timestamp'])

# Group by 'id' and apply forward and backward filling within each group except the last 2 columns
# Separate the last two columns
last_two_cols = df.iloc[:, -2:]

# Perform forward and backward fill on all columns except the last two
df_fill = df.iloc[:, :-2].groupby('id').apply(lambda group: group.fillna(method='ffill').fillna(method='bfill'))

# Concatenate the filled columns with the last two columns
df_fill = pd.concat([df_fill.reset_index(drop=True), last_two_cols.reset_index(drop=True)], axis=1)

# Check for any remaining null values and print instances if needed
null_instances = df_fill[df_fill.isnull().any(axis=1)]

/var/folders/0s/y0l9zmw16tv5wcmqxk57mrth0000gn/T/ipykernel_39812/3367687249.py:9: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_fill = df.iloc[:, :-2].groupby('id').apply(lambda group: group.fillna(method='ffill').fillna(method='bfill'))

In [6]:
# print percentage of null values in the cleaned dataframe for each column 
print('Percentage of null values in the cleaned dataframe')
print(df_fill.isnull().sum()/len(df_fill)*100)

Percentage of null values in the cleaned dataframe
timestamp          0.000000
label              0.000000
well               0.000000
id                 0.000000
ABER-CKGL         88.741265
ABER-CKP          83.731365
ESTADO-DHSV       81.838010
ESTADO-M1         76.568290
ESTADO-M2         76.522708
ESTADO-PXO        76.208673
ESTADO-SDV-GL     77.505139
ESTADO-SDV-P      68.183531
ESTADO-W1         75.211238
ESTADO-W2         75.735317
ESTADO-XO         75.735317
P-ANULAR          66.738525
P-JUS-BS         100.000000
P-JUS-CKGL        58.290191
P-JUS-CKP         71.122121
P-MON-CKGL        99.596847
P-MON-CKP          9.179966
P-MON-SDV-P      100.000000
P-PDG              9.590798
PT-P             100.000000
P-TPT              7.009305
QBS              100.000000
QGL               67.837530
T-JUS-CKP         20.871432
T-MON-CKP         69.160266
T-PDG             72.120284
T-TPT             13.381851
class              5.259879
state              5.259879
dtype: float64

In [4]:
# Drop columns with more than 50% missing values
df_no_nulls = df_fill.dropna(thresh=len(df_fill) * 0.5, axis=1)

# Initialize a list to store cleaned data
cleaned_data_list = []

# Group by 'id' to process each ID at once
for id_value, id_data in df_no_nulls.groupby('id'):
    # Check if any column is fully null for this ID group
    if id_data.iloc[:, :-2].isnull().any(axis=0).any():
        if any(id_data[col].isnull().all() for col in id_data.columns[:-2]):
            print(f'Dropping id {id_value} due to fully null column(s)')
            # Print percentage of null per column for dropped ids
            print(id_data.isnull().mean() * 100)
            continue  # Skip this id_data if any column is fully null

    # Append the cleaned data for the ID
    cleaned_data_list.append(id_data)

# Concatenate all cleaned data into one DataFrame
no_nulls = pd.concat(cleaned_data_list, ignore_index=True)

NameError: name 'df_fill' is not defined

In [5]:
#get the null values in no_nulls dataframe
print('Percentage of null values in the cleaned dataframe')
print(no_nulls.isnull().sum()/len(no_nulls)*100)

Percentage of null values in the cleaned dataframe

NameError: name 'no_nulls' is not defined

In [6]:
# print total ids in the no_nulls dataframe
print(f'Total number of unique ids in the cleaned data: {no_nulls["id"].nunique()}')

# print the number of unique ids in original 
print(f'Total number of unique ids in the original data: {df["id"].nunique()}')

NameError: name 'no_nulls' is not defined

In [10]:

def update_class_values(group):
    # Define the labels that have transition states
    transition_labels = {1, 2, 5, 6, 7, 8, 9}
    # Get the label for this group (assumes all rows in a group have the same label)
    label_value = group['label'].iloc[0]

    # Initialize starting NaNs as 0 (normal operation) until the first non-null value
    first_non_null_index = group['class'].first_valid_index()
    if first_non_null_index is not None:
        # Fill initial NaNs with 0 up to the first non-null value
        group.loc[:first_non_null_index, 'class'] = group.loc[:first_non_null_index, 'class'].fillna(0)
    
    # Now, iterate through the rows to apply the transition and event logic
    for idx in group.index:
        # If class is NaN and we're in the transition state (state=1) and label allows transitions
        if pd.isna(group.loc[idx, 'class']):
            if group.loc[idx, 'state'] == 1 and label_value in transition_labels:
                group.loc[idx, 'class'] = 100 + label_value  # Start transition state
            else:
                # If it's not a transition state, fill with label (event state)
                group.loc[idx, 'class'] = label_value

    return group

In [11]:
# get list of ids that have null class values
ids_with_null_class = no_nulls[no_nulls['class'].isnull()]['id'].unique()

len(ids_with_null_class)

442

In [1]:
# Pick a random value from 0 to len of list
ran = np.random.randint(0, len(ids_with_null_class))

# Get the id from the list
id_value = ids_with_null_class[ran]

# Get the data for the id
id_data = no_nulls[no_nulls['id'] == id_value].copy()

id_data_copy = id_data.copy()

# Fill NaNs in 'class' with 10 for demonstration
id_data['class'] = id_data['class'].fillna(10)

# Reduce data points for plotting if there are too many
if len(id_data) > 1000:  # Arbitrary threshold for downsampling
    id_data = id_data.iloc[::10]  # Take every 10th row

print(f'ID: {id_value}')
print(id_data['label'].value_counts())

# Plot class changes over time compared with the top correlated column
plt.figure(figsize=(12, 6))
plt.plot(id_data['timestamp'], id_data['class'], label='class', color='blue', marker='o')
plt.xlabel('Time')
plt.ylabel('Value')
plt.title(f'Class Changes Over Time for ID {id_value} Compared with timestamp')
plt.legend()
plt.xticks(rotation=45)
plt.tight_layout()  # Adjust layout for better fit
plt.show()

# Apply the function to update the class values
id_data_copy = update_class_values(id_data_copy)

print(f'ID: {id_value}')
print(id_data['label'].value_counts())

# Plot class changes over time compared with the top correlated column
plt.figure(figsize=(12, 6))
plt.plot(id_data_copy['timestamp'], id_data_copy['class'], label='class', color='blue', marker='o')
plt.xlabel('Time')
plt.ylabel('Value')
plt.title(f'Class Changes Over Time for ID {id_value} Compared with timestamp')
plt.legend()
plt.xticks(rotation=45)
plt.tight_layout()  # Adjust layout for better fit
plt.show()

NameError: name 'np' is not defined

In [13]:
# apply the function to update the class values for all ids
no_nulls = no_nulls.groupby('id').apply(update_class_values)

# print percentage of null values in the cleaned dataframe
print('Percentage of null values in the cleaned dataframe')
print(no_nulls.isnull().sum()/len(no_nulls)*100)

Percentage of null values in the cleaned dataframe
timestamp    0.000000
label        0.000000
well         0.000000
id           0.000000
P-MON-CKP    0.000000
P-PDG        0.000000
P-TPT        0.000000
T-JUS-CKP    0.000000
T-TPT        0.000000
class        0.000000
state        3.039702
dtype: float64

In [23]:
#drop state column
no_nulls = no_nulls.drop('state', axis=1)

# change timestamp as datetime
no_nulls['timestamp'] = pd.to_datetime(no_nulls['timestamp'])

#change id as str
no_nulls['id'] = no_nulls['id'].astype(str)

no_nulls.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 53057829 entries, (20131004225400, 0) to ('SIMULATED - 99 - 9', 53057828)
Data columns (total 10 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  datetime64[ns]
 1   label      int64
 2   well       object
 3   id         object
 4   P-MON-CKP  float64
 5   P-PDG      float64
 6   P-TPT      float64
 7   T-JUS-CKP  float64
 8   T-TPT      float64
 9   class      float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(2)
memory usage: 6.7+ GB

In [24]:
# save parquet file
no_nulls.to_parquet('Data/cleaned_data.parquet', index=False)