## Cleaning

In [8]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [9]:
df_real = pd.read_csv('Data/real_instances.csv')
df_sim = pd.read_csv('Data/simulated_instances.csv')
df_drawn = pd.read_csv('Data/hand_drawn_instances.csv')

#combine all dataframes
df = pd.concat([df_real, df_sim, df_drawn])

In [10]:
# print percentage of null values in the cleaned dataframe for each column 
print('Percentage of null values in the cleaned dataframe')
print(df.isnull().sum()/len(df)*100)

Percentage of null values in the cleaned dataframe
timestamp          0.000000
label              0.000000
well               0.000000
id                 0.000000
ABER-CKGL         88.912638
ABER-CKP          83.905354
ESTADO-DHSV       81.895962
ESTADO-M1         76.793540
ESTADO-M2         76.904424
ESTADO-PXO        76.267346
ESTADO-SDV-GL     77.665661
ESTADO-SDV-P      68.250478
ESTADO-W1         75.272622
ESTADO-W2         76.114241
ESTADO-XO         75.793995
P-ANULAR          66.756226
P-JUS-BS         100.000000
P-JUS-CKGL        58.353113
P-JUS-CKP         71.123209
P-MON-CKGL        99.596897
P-MON-CKP          9.244156
P-MON-SDV-P      100.000000
P-PDG             10.336197
PT-P             100.000000
P-TPT              7.026990
QBS              100.000000
QGL               67.924246
T-JUS-CKP         20.934145
T-MON-CKP         69.162512
T-PDG             72.826739
T-TPT             13.399137
class              5.259879
state              5.259879
dtype: float64

In [11]:
# rename the ids for simulated and handdrawn ids to avoid repetition
df['id'] = np.where(
    df['well'] == 'SIMULATED',
    'SIMULATED - ' + df['id'].astype(str) + " - " + df['label'].astype(str),
    np.where(
        df['well'] == 'DRAWN',
        'DRAWN - ' + df['id'].astype(str) + " - " + df['label'].astype(str),
        df['id']
    )
)

df.head()

,timestamp,label,well,id,ABER-CKGL,ABER-CKP,ESTADO-DHSV,ESTADO-M1,ESTADO-M2,ESTADO-PXO,...,PT-P,P-TPT,QBS,QGL,T-JUS-CKP,T-MON-CKP,T-PDG,T-TPT,class,state
0,2014-12-17 14:27:45,9,WELL-00042,20141217142745,23.0,38.0,NaN,1.0,1.0,0.0,...,NaN,10180070.0,NaN,3.032789,40.20570,NaN,74.58371,58.95389,NaN,NaN
1,2014-12-17 14:27:46,9,WELL-00042,20141217142745,23.0,38.0,NaN,1.0,1.0,0.0,...,NaN,10180060.0,NaN,3.033681,40.20566,NaN,74.58370,58.95395,NaN,NaN
2,2014-12-17 14:27:47,9,WELL-00042,20141217142745,23.0,38.0,NaN,1.0,1.0,0.0,...,NaN,10180050.0,NaN,3.034572,40.20562,NaN,74.58369,58.95401,NaN,NaN
3,2014-12-17 14:27:48,9,WELL-00042,20141217142745,23.0,38.0,NaN,1.0,1.0,0.0,...,NaN,10180040.0,NaN,3.035463,40.20559,NaN,74.58368,58.95407,NaN,NaN
4,2014-12-17 14:27:49,9,WELL-00042,20141217142745,23.0,38.0,NaN,1.0,1.0,0.0,...,NaN,10180040.0,NaN,3.036354,40.20555,NaN,74.58368,58.95413,NaN,NaN

In [12]:
# Sort the entire DataFrame by 'id' and 'timestamp' first
df = df.sort_values(['id', 'timestamp'])

# Group by 'id' and apply forward and backward filling within each group except the last 2 columns
# Separate the last two columns
last_two_cols = df.iloc[:, -2:]

# Perform forward and backward fill on all columns except the last two
df_fill = df.iloc[:, :-2].groupby('id').apply(lambda group: group.fillna(method='ffill').fillna(method='bfill'))

# Concatenate the filled columns with the last two columns
df_fill = pd.concat([df_fill.reset_index(drop=True), last_two_cols.reset_index(drop=True)], axis=1)

# Check for any remaining null values and print instances if needed
null_instances = df_fill[df_fill.isnull().any(axis=1)]

/var/folders/0s/y0l9zmw16tv5wcmqxk57mrth0000gn/T/ipykernel_12364/3367687249.py:9: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_fill = df.iloc[:, :-2].groupby('id').apply(lambda group: group.fillna(method='ffill').fillna(method='bfill'))

In [13]:
# print percentage of null values in the cleaned dataframe for each column 
print('Percentage of null values in the cleaned dataframe')
print(df_fill.isnull().sum()/len(df_fill)*100)

Percentage of null values in the cleaned dataframe
timestamp          0.000000
label              0.000000
well               0.000000
id                 0.000000
ABER-CKGL         88.741265
ABER-CKP          83.731365
ESTADO-DHSV       81.838010
ESTADO-M1         76.568290
ESTADO-M2         76.522708
ESTADO-PXO        76.208673
ESTADO-SDV-GL     77.505139
ESTADO-SDV-P      68.183531
ESTADO-W1         75.211238
ESTADO-W2         75.735317
ESTADO-XO         75.735317
P-ANULAR          66.738525
P-JUS-BS         100.000000
P-JUS-CKGL        58.290191
P-JUS-CKP         71.122121
P-MON-CKGL        99.596847
P-MON-CKP          9.179966
P-MON-SDV-P      100.000000
P-PDG              9.590798
PT-P             100.000000
P-TPT              7.009305
QBS              100.000000
QGL               67.837530
T-JUS-CKP         20.871432
T-MON-CKP         69.160266
T-PDG             72.120284
T-TPT             13.381851
class              5.259879
state              5.259879
dtype: float64

In [14]:
# Drop columns with more than 50% missing values
df_no_nulls = df_fill.dropna(thresh=len(df_fill) * 0.5, axis=1)

# Initialize a list to store cleaned data
cleaned_data_list = []

# Group by 'id' to process each ID at once
for id_value, id_data in df_no_nulls.groupby('id'):
    # Check if any column is fully null for this ID group
    if id_data.iloc[:, :-2].isnull().any(axis=0).any():
        if any(id_data[col].isnull().all() for col in id_data.columns[:-2]):
            print(f'Dropping id {id_value} due to fully null column(s)')
            # Print percentage of null per column for dropped ids
            print(id_data.isnull().mean() * 100)
            continue  # Skip this id_data if any column is fully null

    # Append the cleaned data for the ID
    cleaned_data_list.append(id_data)

# Concatenate all cleaned data into one DataFrame
no_nulls = pd.concat(cleaned_data_list, ignore_index=True)

Dropping id 20110830235321 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP      0.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class          2.682523
state          2.682523
dtype: float64
Dropping id 20120601165020 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP      0.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class          1.480647
state          1.480647
dtype: float64
Dropping id 20131104004101 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         28.299662
state         28.299662
dtype: float64
Dropping id 20131208220000 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.410673
state         33.410673
dtype: float64
Dropping id 20131209000000 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.364226
state         33.364226
dtype: float64
Dropping id 20131209020000 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.410673
state         33.410673
dtype: float64
Dropping id 20131209040000 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.364226
state         33.364226
dtype: float64
Dropping id 20131209060000 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.475916
state         33.475916
dtype: float64
Dropping id 20131209080000 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.460359
state         33.460359
dtype: float64
Dropping id 20131209100000 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.444816
state         33.444816
dtype: float64
Dropping id 20131209120000 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.379694
state         33.379694
dtype: float64
Dropping id 20131211220015 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.376599
state         33.376599
dtype: float64
Dropping id 20131212000148 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.666885
state         33.666885
dtype: float64
Dropping id 20131212020000 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.475916
state         33.475916
dtype: float64
Dropping id 20131212040000 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.410673
state         33.410673
dtype: float64
Dropping id 20131212060005 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.475916
state         33.475916
dtype: float64
Dropping id 20131212080000 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.410673
state         33.410673
dtype: float64
Dropping id 20131212100000 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.491488
state         33.491488
dtype: float64
Dropping id 20131214150127 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.600896
state         33.600896
dtype: float64
Dropping id 20131214170036 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.441709
state         33.441709
dtype: float64
Dropping id 20131214190030 due to fully null column(s)
timestamp      0.00000
label          0.00000
well           0.00000
id             0.00000
P-MON-CKP    100.00000
P-PDG          0.00000
P-TPT          0.00000
T-JUS-CKP    100.00000
T-TPT          0.00000
class         33.42308
state         33.42308
dtype: float64
Dropping id 20131214210010 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.361134
state         33.361134
dtype: float64
Dropping id 20131214230010 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.361134
state         33.361134
dtype: float64
Dropping id 20131215010010 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.361134
state         33.361134
dtype: float64
Dropping id 20131215030036 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.441709
state         33.441709
dtype: float64
Dropping id 20131215050030 due to fully null column(s)
timestamp      0.00000
label          0.00000
well           0.00000
id             0.00000
P-MON-CKP    100.00000
P-PDG          0.00000
P-TPT          0.00000
T-JUS-CKP    100.00000
T-TPT          0.00000
class         33.42308
state         33.42308
dtype: float64
Dropping id 20131215070015 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.376599
state         33.376599
dtype: float64
Dropping id 20131215090025 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.407572
state         33.407572
dtype: float64
Dropping id 20131215110025 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.407572
state         33.407572
dtype: float64
Dropping id 20131215130036 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.441709
state         33.441709
dtype: float64
Dropping id 20131215150122 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.585223
state         33.585223
dtype: float64
Dropping id 20131215170101 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.519553
state         33.519553
dtype: float64
Dropping id 20131215190132 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.616584
state         33.616584
dtype: float64
Dropping id 20131215210107 due to fully null column(s)
timestamp      0.00000
label          0.00000
well           0.00000
id             0.00000
P-MON-CKP    100.00000
P-PDG          0.00000
P-TPT          0.00000
T-JUS-CKP    100.00000
T-TPT          0.00000
class         33.53829
state         33.53829
dtype: float64
Dropping id 20140109000112 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.553919
state         33.553919
dtype: float64
Dropping id 20140109020025 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.407572
state         33.407572
dtype: float64
Dropping id 20140109040025 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.407572
state         33.407572
dtype: float64
Dropping id 20140109140010 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.361134
state         33.361134
dtype: float64
Dropping id 20140109160010 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.361134
state         33.361134
dtype: float64
Dropping id 20140115150010 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.361134
state         33.361134
dtype: float64
Dropping id 20140115170036 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.441709
state         33.441709
dtype: float64
Dropping id 20140118230030 due to fully null column(s)
timestamp      0.00000
label          0.00000
well           0.00000
id             0.00000
P-MON-CKP    100.00000
P-PDG          0.00000
P-TPT          0.00000
T-JUS-CKP    100.00000
T-TPT          0.00000
class         33.42308
state         33.42308
dtype: float64
Dropping id 20140119010020 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.392079
state         33.392079
dtype: float64
Dropping id 20140119030025 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.407572
state         33.407572
dtype: float64
Dropping id 20140119050010 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.361134
state         33.361134
dtype: float64
Dropping id 20140119070138 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.635429
state         33.635429
dtype: float64
Dropping id 20140119090112 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.553919
state         33.553919
dtype: float64
Dropping id 20140119110010 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.361134
state         33.361134
dtype: float64
Dropping id 20140119130010 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.361134
state         33.361134
dtype: float64
Dropping id 20140119150112 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.553919
state         33.553919
dtype: float64
Dropping id 20140119170015 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.376599
state         33.376599
dtype: float64
Dropping id 20140119190132 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.616584
state         33.616584
dtype: float64
Dropping id 20140119210015 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.376599
state         33.376599
dtype: float64
Dropping id 20140119230030 due to fully null column(s)
timestamp      0.00000
label          0.00000
well           0.00000
id             0.00000
P-MON-CKP    100.00000
P-PDG          0.00000
P-TPT          0.00000
T-JUS-CKP    100.00000
T-TPT          0.00000
class         33.42308
state         33.42308
dtype: float64
Dropping id 20140120010025 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.407572
state         33.407572
dtype: float64
Dropping id 20140120030132 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.616584
state         33.616584
dtype: float64
Dropping id 20140120050203 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.714179
state         33.714179
dtype: float64
Dropping id 20140120070122 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.585223
state         33.585223
dtype: float64
Dropping id 20140120090010 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.361134
state         33.361134
dtype: float64
Dropping id 20140120110234 due to fully null column(s)
timestamp      0.000000
label          0.000000
well           0.000000
id             0.000000
P-MON-CKP    100.000000
P-PDG          0.000000
P-TPT          0.000000
T-JUS-CKP    100.000000
T-TPT          0.000000
class         33.812342
state         33.812342
dtype: float64

In [15]:
#get the null values in no_nulls dataframe
print('Percentage of null values in the cleaned dataframe')
print(no_nulls.isnull().sum()/len(no_nulls)*100)

Percentage of null values in the cleaned dataframe
timestamp    0.000000
label        0.000000
well         0.000000
id           0.000000
P-MON-CKP    0.000000
P-PDG        0.000000
P-TPT        0.000000
T-JUS-CKP    0.000000
T-TPT        0.000000
class        3.039702
state        3.039702
dtype: float64

In [16]:
# print total ids in the no_nulls dataframe
print(f'Total number of unique ids in the cleaned data: {no_nulls["id"].nunique()}')

# print the number of unique ids in original 
print(f'Total number of unique ids in the original data: {df["id"].nunique()}')

Total number of unique ids in the cleaned data: 1336
Total number of unique ids in the original data: 2222